h2.intro {
  color: gray;
  font-style: italic;
}

p.intro {
  font-size: 18px;
  font-color: gray;
  font-style: italic;
  width: 50%;
}

img.intro {
  width: 1000px;
  border: 30px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  image: center;
}
