#container{
  text-align: center;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: green;
  height: 3000px;
}

h2.intro {
  color: gray;
  font-style: italic;
}

p.intro {
  font-size: 18px;
  font-color: gray;
  font-style: italic;
  width: 50%;
}

img.intro {
  width: 60%;
  border: 30px solid #ddd;
  border-radius: 4px;
  image: center;
  float: left;
  margin: 40px
}

.sidebar {
  float: right;
  width: 30%;
  background-color: gray;
  padding: 10px;
  margin: 20px
}

.column {
  float: left;
  width: 20%;
}
.random{
  color: blue;
  text-shadow: 20%;
  }
